@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200;600&display=swap');
body {
    font-family: 'Anek Tamil', sans-serif;
    margin: 60px auto;
    width: 70%;
    color: #ECF0F1;
}
html { 
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/docs/assets/images/DSC00431.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav ul, footer ul {
    font-family:'Anek Tamil', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    font-family: 'Anek Tamil', sans-serif;
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ECF0F1;
}
a:hover {
    text-decoration: underline;
    color: #ECF0F1;
}
h1 {
    font-family: 'Anek Tamil', sans-serif;
    font-size: 3em;
    color: #ECF0F1;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #ECF0F1;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/* The flip card container - remove perspective for no 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  /* Center child horizontally*/
  display: flex;
  justify-content: center;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
